<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Advanced React App</title>
  </head>
  <body>
    <h1>Advanced React Application is about to hit the world!</h1>
    <h2>Hellow Express and EJS -- <%= answer %></h2>
  </body>
</html>
